page-contact {

}
.share{
    background: rgb(25,33,77);
}
.img-preview{
    max-height: 400px;
    overflow: hidden;
}
h3{
    font-weight: 300;
    color:white;
}
.share-button{
    font-weight: 800;
    color: rgb(25,33,77);
    background: rgb(248,231,28);
}
p{
    text-align: center;
}