<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="share">
  <section class="share">


    <h3>take picture and <br> <strong> share it with hashtag</strong> <br> #positiveemotions</h3>

    <div class="img-preview">
      <img *ngIf="myPhoto" [src]="myPhoto">
    </div>

    <ion-fab bottom right>
      <button ion-fab (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-fab>
    <p>
      <button ion-button center *ngIf="readyToShare" (click)="sharePhoto()" class="share-button">share</button>
    </p>

  </section>
</ion-content>
